[include]
	path = ~/.gitconfig_private
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
